


*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: Ralway;
    background-color: white;

}

header a{
    display: block;
    text-decoration: none;
    padding-bottom: 20px;
    color: #0065fc;
}

header a:hover{
    border-bottom: #0065fc 3px solid;
}

            /* HEADER   */

header{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

header img{
    width: 110px;
    height: auto;
    margin-left: 18px;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 40px;

}

header li{

    text-align: center;
    flex-grow: 1;
    padding: 15px 0;
}

#inscription{
    position: absolute;
    right: 15px;
    top: 25px;
    font-weight: bold;
}

#inscription a:hover{
    border-bottom: none;
    margin-right: 4px;
    margin-top: 3px;
}








/* Tab   */

@media screen and (min-width:480px){
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 4px;
        padding-top: 0px;

    }
    header img{
        padding-top: 40px;
    }

    header ul{
        margin-top: 0px;
    }

    #inscription{
        position: initial;
        font-weight: 400;
    } 

    header li{
        padding: 0px 30px;
    }

    #inscription a:hover{
        border-bottom: none;
        margin-right: 0px;
        margin-top: 0px;
    }

    header a{
        padding-bottom: 0px;
        padding-top: 40px;
    }
    header a:hover{
        border-bottom: none;
        border-top: 3px solid #0065fc;
    }
}


/* PC   */

@media screen and (min-width:1200px){


    header{
        margin: 4px 50px ;
    }
    header li{
        padding: 0px 60px;
    }
}



