


*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: Ralway;
    background-color: white;

}

a{
    display: block;
    text-decoration: none;
    padding-bottom: 20px;
    color: #0065fc;
}

a:hover{
    border-bottom: #0065fc 3px solid;
}


            /* HEADER   */

header{
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

header img{
    width: 30%;
    height: auto;
    margin-left: 15px;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 40px;

}

header li{

    text-align: center;
    flex-grow: 1;
    padding: 15px 0;
}

#inscription{
    position: absolute;
    right: 0px;
    padding-right: 15px;
    top: 15px;
    font-weight: bold;
}

#inscription a:hover{
    border-bottom: none;
}








/* Tab   */

@media screen and (min-width:480px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }

    #inscription{
        position: initial;
    }

    header li{
        margin: 0px 10px;
    }
}


/* PC   */

@media screen and (min-width:1200px){

}



